In [1]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from iexfinance.stocks import get_historical_data
from iexfinance.refdata import get_symbols
from pathlib import Path
import requests
import os

In [2]:
iex_token = os.getenv("IEX_TOKEN")
type(iex_token)

str

### Define function to loop through tickers and their dates

In [3]:
def ticker_loop(ticker, date):
    '''
    Function that takes ticker and date of acquisition
    as argument to then pull data from all tickers from
    the year leading up to the acquisition. Lastly,
    it saves it to a CSV file.
    '''
    
    # Set start and end datetimes of 1 year of trading,
    # between date of acquisition and 252 days prior.
    end_date = date
    start_date = end_date + timedelta(-252)

    # Get 1 year's worth of historical data for ticker
    ticker_df = get_historical_data(
        ticker,
        start_date,
        end_date,
        token="pk_22cee6e066ef4f1c8a3b762936ab920f",
        output_format='pandas'
    )
    
    # Save ticker infor as CSV
    ticker_df.to_csv(f"{ticker}.csv")

In [4]:
# Create Path for needed CSV file
acquisition_filepath = Path("/Users/robertocantu/rice_fintech_program/project_02/acquisition_dates.csv")

# Read the necessary CSV file
acquisition_data = pd.read_csv(
                        acquisition_filepath,
                        parse_dates=[6],
                        infer_datetime_format=True
                        )

# Create DataFrame for CSV file
acquisition_df = pd.DataFrame(acquisition_data)

# Only keep the first 8 columns, and drop empty rows
acquisition_df = acquisition_df.iloc[:,:8].dropna()

acquisition_df

,Rank,Year,Acquirer Name,Target Name,Value (in bil. USD),Value (in bil. EUR),Date of Acquisition,Ticker
0,1.0,2000.0,America Online Inc,Time Warner,"16,474,686","16,071,303",2000-01-10,TWC
1,2.0,2013.0,Verizon Communications Inc,Verizon Wireless Inc,"13,029,832","10,046,001",2013-09-01,VZ
2,3.0,2000.0,Pfizer Inc,Warner-Lambert Co,"89,555,351","85,307,024",2000-02-07,WLA
3,4.0,2019.0,United Technologies Corp,Raytheon Co,"86,831,159","76,631,537",2019-06-09,RTN
4,5.0,2019.0,Walt Disney Co,21st Century Fox Inc,"84,197,032","72,502,064",2019-03-20,FOX
5,6.0,2018.0,AT&T Inc,Time Warner Inc,"7,940,646","72,942,774",2018-06-14,TWX
6,7.0,2019.0,Bristol-Myers Squibb Co,Celgene Corp,"79,376,825","69,677,691",2019-01-03,CELG
7,9.0,2006.0,AT&T Inc,BellSouth Corp,"72,670,997","60,178,126",2006-12-29,BLS
8,10.0,1998.0,Travelers Group Inc,Citicorp,"7,255,818","6,724,576",1998-04-06,C
9,11.0,2002.0,Comcast Corp,AT&T Broadband & Internet Svcs,"7,204,115","85,094,646",2002-11-18,T
10,12.0,2018.0,Cigna Corp,Express Scripts Holding Co,"6,977,018","5,621,188",2018-12-20,ESRX
11,13.0,2018.0,Actavis PLC,Allergan Inc,"68,445,401","49,616,071",2018-03-17,AGN
12,14.0,2018.0,CVS Health Corp,Aetna Inc,"67,822,818","58,185,196",2018-11-28,AET
13,15.0,2009.0,Pfizer Inc,Wyeth,"67,285,695","51,877,271",2009-10-15,WYE
14,16.0,2015.0,Dell Inc,EMC Corp,"65,999,778","51,380,827",2015-10-12,EMC
15,17.0,1999.0,SBC Communications Inc,Ameritech Corp,"62,592,542","56,481,257",1999-10-08,AMTR
16,18.0,2015.0,The Dow Chemical Co,DuPont,"62,141,056","5,638,058",2017-08-31,DD
17,19.0,2019.0,AbbVie Inc,Allergan PLC,"62,117,141","546,565",2019-06-25,AGN
18,20.0,1998.0,NationsBank Corp,BankAmerica Corp,"61,633,402","56,674,378",1998-09-30,BAC
19,21.0,1999.0,Vodafone Group PLC,AirTouch Communications Inc,"60,286,874","5,165,084",1999-06-29,ATCH
20,23.0,2003.0,Pfizer Inc,Pharmacia Corp,"59,515,024","60,019,176",2003-04-16,PHABF
21,25.0,2004.0,JPMorgan Chase & Co,Bank One Corp,"58,663,146","4,593,911",2004-07-01,ONE
22,26.0,2016.0,Bayer AG,Monsanto Co,"56,598,044","49,749,681",2018-06-07,MON
23,27.0,2000.0,Qwest Commun Intl Inc,US WEST Inc,"56,307,028","52,796,116",2000-06-30,USW
24,28.0,2015.0,Charter Communications Inc,Time Warner Cable Inc,"55,637,581","51,125,373",2015-05-16,TWC
25,32.0,1998.0,AT&T Corp,Tele-Communications Inc,"53,592,491","4,878,696",1998-06-24,TCI
26,33.0,1998.0,Bell Atlantic Corp,GTE Corp,"53,414,579","48,199,393",1998-07-28,GTE
27,34.0,2008.0,InBev NV,Anheuser-Busch Cos Inc,"52,177,662","39,727,028",2008-07-13,BUD
28,36.0,2005.0,AT&T Corp,MediaOne Group Inc,"49,278,866","4,530,556",2005-11-18,UMG
29,37.0,2004.0,Bank of America Corp,"FleetBoston Financial Corp,MA","49,260,627","41,803,061",2004-04-01,FBF
30,39.0,2017.0,British American Tobacco PLC,Reynolds American Inc,"49,053,658","4,506,069",2017-07-25,RAI
31,40.0,2009.0,Bank of America Corp,Merrill Lynch & Co Inc,"48,766,153","34,063,158",2009-01-01,MER
32,41.0,1998.0,British Petroleum Co PLC,Amoco Corp,"48,174,085","43,529,477",1998-08-11,AMOCO
33,42.0,2015.0,AT&T Inc,DirecTV Inc,"48,082,294","34,667,334",2015-07-24,DTV
34,43.0,2009.0,Roche Holdings AG,Genentech Inc,"46,694,838","29,319,689",2009-03-25,GENE
35,44.0,2015.0,Hj Heinz Co,Kraft Foods Group Inc,"46,105,535","42,218,838",2015-07-02,MDLZ
36,45.0,2000.0,Chevron Corp,Texaco Inc,"428,723","5,040,835",2000-10-15,TX
37,46.0,2015.0,Medtronic Inc,Covidien PLC,"42,729,867","31,560,275",2015-01-26,COV
38,49.0,2000.0,JDS Uniphase Corp,SDL Inc,"41,143,566","41,647,492",2000-07-11,SDL
39,50.0,2004.0,JDS Uniphase Corp,AT&T Wireless Services Inc,"41,005,408","32,111,335",2004-10-26,T

### For loop for tickers and their dates from DataFrame

In [5]:
# Create list of tickers
ticker_list = ["RTN","FOX","CELG","AGN","DD","DTV","MDLZ"]

In [6]:
# For loop to iterate through both tickers and date and create indivdual CSVs
for ticker, date in zip(acquisition_df["Ticker"], acquisition_df["Date of Acquisition"]):
    
    try:
        # Call the function to get data for tickers
        ticker_loop(ticker, date)
        
        # Add ticker to list of tickers
        ticker_list.append(ticker)
        
        print(f"{ticker} has been saved as DataFrame.")
        
    except:
        # Print statement if data cannot be accessed
        print(f"{ticker} has no data.")

TWC has no data.
VZ has no data.
WLA has no data.
RTN has been saved as DataFrame.
FOX has been saved as DataFrame.
TWX has no data.
CELG has been saved as DataFrame.
BLS has no data.
C has no data.
T has no data.
ESRX has no data.
AGN has been saved as DataFrame.
AET has no data.
WYE has no data.
EMC has no data.
AMTR has no data.
DD has been saved as DataFrame.
AGN has been saved as DataFrame.
BAC has no data.
ATCH has no data.
PHABF has no data.
ONE has no data.
MON has no data.
USW has no data.
TWC has no data.
TCI has no data.
GTE has no data.
BUD has no data.
UMG has no data.
FBF has no data.
RAI has no data.
MER has no data.
AMOCO has no data.
DTV has been saved as DataFrame.
GENE has no data.
MDLZ has been saved as DataFrame.
TX has no data.
COV has no data.
SDL has no data.
T has no data.

In [6]:
ticker_list

['RTN', 'FOX', 'CELG', 'AGN', 'DD', 'DTV', 'MDLZ']

In [7]:
def ticker_pct_change(df):
    '''
    Function that takes in ticker
    CSV files and calculates pct_change
    of the "close" column.
    '''
    
    df["pct_change"] = df["close"].pct_change()

In [8]:
# Create DataFrame with list of tickers as index
ticker_index_df = pd.DataFrame(index=ticker_list)
ticker_index_df

Empty DataFrame
Columns: []
Index: [RTN, FOX, CELG, AGN, DD, DTV, MDLZ]

In [20]:
# Iterate through list of tickers to create new CSVs
# with needed PCT Change value as new column
for ticker in ticker_list:
    
    try:
        # Bring in the previously created CSV files
        filepath = Path(f"{ticker}.csv")
        
        # Read the CSV
        ticker_data = pd.read_csv(filepath)
        
        # Create new DataFrame from CSV
        ticker_df = pd.DataFrame(ticker_data)
        
        # Apply pct_change function to close value
        ticker_pct_change(ticker_df)
        
        # Drop unnecessary columns
        ticker_df = ticker_df.drop(columns = ["date","open","high","low","close","volume"])
        
        # Save new CSV as its own file
        ticker_df.to_csv(f"{ticker}_pct_change.csv")
        
        print(ticker, ticker_df.head())

        # main_df.loc[f"ticker"] = ticker_df["pct_change"]
        
    except:
        print(f"Encountered error with {ticker}.")

RTN    pct_change
0         NaN
1    0.002554
2   -0.005143
3    0.005991
4   -0.007012
FOX    pct_change
0         NaN
1    0.019388
2    0.026527
3   -0.003901
4   -0.032061
CELG    pct_change
0         NaN
1   -0.009774
2   -0.044747
3    0.009529
4   -0.011714
AGN    pct_change
0         NaN
1    0.016011
2   -0.011047
3    0.003388
4   -0.009972
DD    pct_change
0         NaN
1   -0.005447
2   -0.000171
3   -0.008901
4   -0.008290
Encountered error with DTV.
MDLZ    pct_change
0         NaN
1    0.008600
2    0.010336
3   -0.004348
4    0.001798

In [49]:
ticker_dfs = []

In [50]:
# Iterate through list of tickers to concat
# all pct_change CSVs to one main_df
for ticker in ticker_list:
    
    try:
        # Bring in the previously created CSV files
        filepath = Path(f"{ticker}_pct_change.csv")
        
        # Read the CSV
        ticker_data = pd.read_csv(filepath, index_col=0)
        
        # Create new DataFrame from CSV
        ticker_df = pd.DataFrame(ticker_data)
        
        # Create new DataFrame from CSV
        ticker_df[f"{ticker}"] = ticker_df["pct_change"]
        
        ticker_df = ticker_df.drop(columns="pct_change")
        
        # Add name of df to ticker_dfs list
        ticker_dfs.append(ticker_df)
        
    except:
        print(f"Encountered error with {ticker}.")

Encountered error with DTV.

In [51]:
ticker_dfs

[          RTN
 0         NaN
 1    0.002554
 2   -0.005143
 3    0.005991
 4   -0.007012
 5    0.000339
 6   -0.010782
 7   -0.034166
 8   -0.033451
 9    0.003665
 10   0.002974
 11   0.019037
 12  -0.014292
 13  -0.007560
 14  -0.003391
 15   0.000471
 16   0.001465
 17  -0.048438
 18  -0.030696
 19   0.002096
 20  -0.048279
 21   0.028453
 22   0.010974
 23   0.033078
 24   0.003982
 25   0.008317
 26   0.009505
 27   0.013636
 28  -0.003523
 29   0.007286
 ..        ...
 142  0.000338
 143 -0.011272
 144  0.012313
 145 -0.007039
 146  0.003970
 147  0.012765
 148  0.007306
 149 -0.011849
 150  0.002577
 151  0.005924
 152  0.001389
 153 -0.009099
 154 -0.004031
 155 -0.003373
 156  0.012184
 157 -0.013208
 158  0.020331
 159  0.010849
 160 -0.011499
 161 -0.004542
 162  0.001614
 163 -0.008056
 164 -0.005601
 165 -0.006252
 166 -0.010995
 167  0.009742
 168  0.016232
 169  0.018262
 170  0.007075
 171  0.012471

 [172 rows x 1 columns],         FOX
 0       NaN
 1  0.019388
 2  0.026527
 3 -0.003901
 4 -0.032061
 5 -0.049305,          CELG
 0         NaN
 1   -0.009774
 2   -0.044747
 3    0.009529
 4   -0.011714
 5   -0.017261
 6    0.017447
 7   -0.026700
 8   -0.017027
 9   -0.003970
 10  -0.005072
 11   0.026220
 12   0.009108
 13  -0.039034
 14  -0.007563
 15  -0.016962
 16  -0.020130
 17  -0.046957
 18   0.025706
 19   0.013706
 20   0.024208
 21  -0.011441
 22  -0.010174
 23   0.001799
 24   0.009106
 25   0.004575
 26  -0.004934
 27  -0.008646
 28   0.010517
 29   0.000000
 ..        ...
 144 -0.003589
 145 -0.038184
 146  0.011835
 147 -0.013177
 148  0.020255
 149  0.017500
 150  0.025871
 151 -0.011553
 152  0.029361
 153  0.016616
 154 -0.012939
 155  0.004554
 156 -0.037363
 157 -0.019977
 158  0.011794
 159  0.020291
 160 -0.016361
 161 -0.022082
 162 -0.001026
 163 -0.022017
 164 -0.015759
 165 -0.016163
 166 -0.055797
 167 -0.028070
 168  0.055565
 169  0.004960
 170 -0.006050
 171  0.026590
 172  0.039788
 173  0.206933

 [174 rows x 1 columns],           AGN
 0         NaN
 1    0.016011
 2   -0.011047
 3    0.003388
 4   -0.009972
 5    0.000053
 6   -0.046576
 7    0.007713
 8   -0.017139
 9   -0.019187
 10  -0.075547
 11  -0.016556
 12   0.040820
 13  -0.008574
 14   0.014842
 15  -0.001571
 16   0.026633
 17  -0.001769
 18  -0.022385
 19  -0.009969
 20  -0.007445
 21  -0.030310
 22   0.010462
 23  -0.012424
 24  -0.008577
 25  -0.016919
 26   0.006063
 27  -0.004665
 28  -0.002929
 29  -0.007378
 ..        ...
 143  0.007037
 144  0.005516
 145  0.024358
 146  0.001143
 147 -0.010128
 148 -0.002162
 149  0.007438
 150 -0.010537
 151 -0.018328
 152 -0.030256
 153 -0.043680
 154 -0.025861
 155 -0.004166
 156  0.010007
 157  0.044506
 158 -0.016406
 159 -0.011462
 160  0.016633
 161 -0.004090
 162 -0.029697
 163 -0.004721
 164 -0.010387
 165 -0.041983
 166 -0.001639
 167  0.042426
 168  0.062334
 169  0.020755
 170 -0.000076
 171 -0.009479
 172  0.253608

 [173 rows x 1 columns],            DD
 0         NaN
 1   -0.005447
 2   -0.000171
 3   -0.008901
 4   -0.008290
 5   -0.003483
 6    0.006641
 7    0.007986
 8   -0.004478
 9   -0.006228
 10   0.006093
 11  -0.002076
 12   0.010231
 13   0.000515
 14  -0.008406
 15  -0.008131
 16   0.006628
 17  -0.010743
 18   0.005080
 19  -0.004183
 20   0.043752
 21   0.009557
 22   0.020096
 23  -0.001791
 24  -0.018920
 25  -0.008645
 26   0.011236
 27  -0.007297
 28   0.005847
 29  -0.003156
 ..        ...
 144 -0.003766
 145  0.001210
 146  0.009514
 147 -0.006432
 148 -0.004818
 149 -0.006354
 150 -0.021924
 151  0.007005
 152 -0.006029
 153 -0.013530
 154  0.010720
 155 -0.003588
 156 -0.007358
 157  0.001419
 158 -0.006142
 159  0.002377
 160  0.002371
 161  0.004100
 162  0.004241
 163 -0.011886
 164  0.003482
 165  0.007256
 166  0.014407
 167 -0.003087
 168 -0.003561
 169  0.002953
 170  0.002014
 171 -0.006958
 172  0.010589
 173  0.026965

 [174 rows x 1 columns],          MDLZ
 0         NaN
 1    0.008600
 2    0.010336
 3   -0.004348
 4    0.001798
 5   -0.000256
 6   -0.005899
 7    0.006192
 8    0.005128
 9   -0.005612
 10  -0.002309
 11  -0.005657
 12  -0.006724
 13   0.002343
 14  -0.006753
 15   0.008368
 16  -0.011670
 17   0.000525
 18  -0.023603
 19  -0.015042
 20  -0.017726
 21  -0.000555
 22   0.016111
 23   0.019683
 24   0.005362
 25   0.002133
 26   0.001330
 27   0.003455
 28  -0.011123
 29  -0.008570
 ..        ...
 127 -0.008608
 128 -0.003473
 129 -0.005726
 130  0.005008
 131  0.008221
 132  0.027675
 133 -0.021640
 134  0.002703
 135  0.005637
 136 -0.014867
 137 -0.009896
 138  0.000750
 139  0.004245
 140  0.003729
 141 -0.000248
 142  0.002725
 143 -0.008895
 144  0.015707
 145  0.001227
 146  0.001471
 147  0.004651
 148  0.000244
 149  0.001218
 150 -0.000487
 151  0.000000
 152  0.000730
 153 -0.006568
 154  0.007346
 155  0.011424
 156 -0.001442

 [157 rows x 1 columns]]

In [59]:
main_df = pd.concat(ticker_dfs, axis=1)

main_df = main_df.transpose()

for index in main_df.iterrows():
    
    main_df["acquired"] = 1

main_df

,0,1,2,3,4,5,6,7,8,9,...,165,166,167,168,169,170,171,172,173,acquired
RTN,NaN,0.002554,-0.005143,0.005991,-0.007012,0.000339,-0.010782,-0.034166,-0.033451,0.003665,...,-0.006252,-0.010995,0.009742,0.016232,0.018262,0.007075,0.012471,NaN,NaN,1
FOX,NaN,0.019388,0.026527,-0.003901,-0.032061,-0.049305,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
CELG,NaN,-0.009774,-0.044747,0.009529,-0.011714,-0.017261,0.017447,-0.026700,-0.017027,-0.003970,...,-0.016163,-0.055797,-0.028070,0.055565,0.004960,-0.006050,0.026590,0.039788,0.206933,1
AGN,NaN,0.016011,-0.011047,0.003388,-0.009972,0.000053,-0.046576,0.007713,-0.017139,-0.019187,...,-0.041983,-0.001639,0.042426,0.062334,0.020755,-0.000076,-0.009479,0.253608,NaN,1
DD,NaN,-0.005447,-0.000171,-0.008901,-0.008290,-0.003483,0.006641,0.007986,-0.004478,-0.006228,...,0.007256,0.014407,-0.003087,-0.003561,0.002953,0.002014,-0.006958,0.010589,0.026965,1
MDLZ,NaN,0.008600,0.010336,-0.004348,0.001798,-0.000256,-0.005899,0.006192,0.005128,-0.005612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1